.inline-block{
    
    vertical-align: top;
    width:100%;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    color: rgba(80, 85, 92, 1);
    
}
.navLink li a{
    padding: 10%;
    height: 10px;
    max-width: 10px;
    font-size: 24px;
    color: rgba(172, 125, 3, 1);
    text-decoration: none;   
}
.navLink li a:hover{
    text-decoration: underline;
    text-underline-position: under;
}
.logo{
    padding: 5%;
    height: 20%;
    max-width: 20%;
    text-align: left;
    display: block;
   
}
body{
   font-family:'Della Respira', serif;;
    background-color: rgba(202, 224, 245, 0.946);
}
h1{
    display: block;
    text-align: center;
    color: rgba(172, 125, 3, 1);
    font-size: 32px;
    margin:0%;
}
.introparagraph{
    color: rgba(80, 85, 92, 1);
    text-align: center;
    font-size: 24px;
    margin-top: 0%;
   }
.heroImg{
    margin-bottom: 80px;
    height: 600px;
}
nav { 
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    height: auto;
    font-size: 24px;
}
.inline-block ul{
    width :100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 3%;
    list-style: none;
}
.headshot{
    width: 20%;
    height: 20%;
    margin: auto;
    display: block;
    border: 5px solid rgba(172, 125, 3, 1);
    margin-bottom: 50px;
}
.content{
    height: auto;
}
.footer{
   bottom: 0;
   position: static;
   width: 90%;
   display: inline-block;
}
.footerLink{
    padding: 20px;
    color: rgba(80, 85, 92, 1);
}
.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
} 
h2{
    display: flex;
    flex-direction: row;
    color:rgba(172, 125, 3, 1) ;
    font-size: 32px;
    margin-top: 100px;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10px;
    margin-right: 10px;
    border-style: inset;
    border-width: 1px;
    align-self:flex-end
}
/*.study{
    width: 50%;
    height:auto;}*/

.workGrid{
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: minmax(100px, auto);
      grid-gap: 15px;
}
.firstrow{
    grid-row: 1/2;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: minmax(100px, auto);
    padding: 3vh 0;
}
.firstrow img{
grid-row: 1/2;
grid-column: 1/2;
align-self: center;
justify-self: right;
width: 100%;
height: auto;
}
.firstrow .description{
grid-row: 1/2;
grid-column: 2/6;
padding: 0 5vw;
align-self: center;
}
.secondrow{
    grid-row: 2/3;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(100px, auto);
    padding: 3vh 0;
}
.secondrow .iphone1{
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    width: 55%;
    justify-self: right;
}
.secondrow .iphone2{
    grid-row: 1/2;
    grid-column: 3/4;
    align-self: center;
    justify-self: center;
    width: 55%;
}
.secondrow .description1{
    grid-row: 1/2;
    grid-column: 4/6;
    justify-self: end;
    align-self: center;
    padding-right: 5vw;
}
.thirdrow{
    grid-row: 3/4;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: minmax(100px,auto);
    padding: 3vh 0;
}
.thirdrow img{
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
    justify-self:right;
    width: 100%;
}
.thirdrow .description{
    grid-row: 1/2;
    grid-column: 2/6;
    padding: 0 5vw;
    align-self: center;

}

h4{
    font-size: 24px;
    padding: 0;  
    margin: 0;
}
p{
   color: rgba(80, 85, 92, 1);
   font-size: 24px;
}
ul{
    width :100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3%;
    list-style: none;
    color: rgba(80, 85, 92, 1) ;
}
button {
 background-color: rgba(172, 125, 3, 1); 
  border:  2px solid white; 
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 12px;
  border-radius: 4px;
  margin-top: 20px;
}
.myskills{
    font-size: 24px;
    width: 80vw;
    margin: 0 auto;
}
.myWork{
    font-size: 24px;
    width: 100vw;
    
}
.workwrapper{ 
    margin: 0 auto;
    width: 80vw;
 }

.footer ul{
    width :100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10%;
    list-style: none;
}
@media only screen and (max-width: 600px) {

/*.firstrow img{
grid-column: 1/3;
grid-row: 1/2;
  }
.firstrow .description{
      grid-column: 3/6;
      grid-row: 1/2;
  }*/
.secondrow{
    grid-column: 1/6;
}
.secondrow .iphone1{
    grid-column:1/2;
    justify-self: left;
 }
.secondrow .iphone2{
    grid-column: 2/3;
    justify-self: left;
}

.secondrow .description1{
          grid-column: 3/6;
          
      }
/*.thirdrow img{
        grid-column: 3/6;
        grid-row: 3/4;
          }
.thirdrow .description{
              grid-column: 3/6;
              grid-row: 3/4;
          }*/

.flexContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
    }
.nav { 
            width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            height: auto;
            justify-content: left;
            flex-wrap: wrap;
        }
.inline-block{
        display: flex;
        flex-wrap: wrap;
      
    }
    
 }
        